main.py
.idea/CookieClicker.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
__pycache__/buttons.cpython-310.pyc
__pycache__/buttons.cpython-311.pyc
__pycache__/cookie.cpython-310.pyc
__pycache__/cookie.cpython-311.pyc
__pycache__/gui.cpython-310.pyc
__pycache__/gui.cpython-311.pyc
__pycache__/score.cpython-310.pyc
__pycache__/score.cpython-311.pyc
__pycache__/titleScreen.cpython-311.pyc
__pycache__/upgradeIcon.cpython-310.pyc
__pycache__/upgradeIcon.cpython-311.pyc
statsDic.json
